:root {
  color-scheme: dark;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5vmin;
}

#newGridButton {
  font-size: 2rem;
  font-weight: bold;
  min-width: min-content;
  width: 25vw;
  height: 5vh;
  align-self: center;
  cursor: pointer;
  background-color: hsl(56, 100%, 50%);
  color: hsl(264, 100%, 50%);
  border: none;
  border-radius: 8px;
  transition: all 0.5s;
  animation: shaking 0.5s paused infinite;
}

#newGridButton:hover {
  background-color: hsl(264, 100%, 50%);
  color: hsl(56, 100%, 50%);
  animation-play-state: running;
}

@keyframes shaking {
  33% {
    transform: rotate(2.5deg);
  }
  66% {
    transform: rotate(-2.5deg);
  }
}

.grid {
  width: 90vmin;
  aspect-ratio: 1/1;
  background-color: white;
  gap: 1px;
  border: white solid 1px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 0 0;
  display: flex;
  gap: 1px;
}

.cell {
  flex: 1 0 0;
}
